# Coverage
coverage

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Miscellaneous
.DS_Store
.eslintcache

# Transpiled files
build/
src/**/*.js
src/**/*.js.map
tests/**/*.js
tests/**/*.js.map
